* {
  margin: 0;
}

.title-border {
  border: solid 0.5px grey;
  
  display: inline-block;
  text-align: center;
  
}
.title {
  margin: 5px;
  text-align: center;
  
}

.rocket {
  height:1em;
  color:red;
}

.video-container {

  display:inline-block;
}

.video {
  border: white;
  padding:10px;
  word-wrap:inherit;
}
.video-title {
  font-weight: bold;
  
  

}
.video-thumbnail {
  height:125px;
  width:125px;

}